Checks: >
  -*
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  hicpp-*,
  misc-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - { key: cppcoreguidelines-avoid-magic-numbers.IgnoreAllFloatingPointValues, value: 'true' }
  - { key: cppcoreguidelines-avoid-magic-numbers.IgnoreAllIntegerValues, value: 'false' }
